---
permalink: /gallery
layout: default
title: Creative gallery
class: gallery-page
---


<h2> Creative gallery </h2>
<p class="blurb">A few of my creative work - most have not been related to work.<br>
Mediums: adobe illustrator, water colour, ink, lino print, acrylic. <br>
There is a few photography work as well.</p>



<section class="creative-gallery">
    {% for image in site.static_files %}
    {% if image.path contains 'img/gallery' %}
    <div class="gallery-image">
        <img src="{{ site.baseurl }}{{ image.path }}">
    </div>
    {% endif %}
    {% endfor %}
</section>


<script src="/assets/js/jquery-2.1.1.js"></script>
<script src="/assets/js/jquery.js"></script>
<script>
    $(function () {
        var container = $('.creative-gallery').masonry();

        setTimeout(function () {
            container.masonry('.gallery-image');
        }, 1000);

    });

    $(window).load(function () {
        $('.creative-gallery').masonry();
    });

    // $(function () {
    //     var container = $('.creative-gallery');

    //     // Trigger masonry
    //     container.masonry({
    //         itemSelector: '.gallery-image',
    //         fitWidth: true,
    //         horizontalOrder: false,
    //         fitWidth: true,
    //         fitHeight: true
    //     });
    // });
</script>
<script src="/assets/js/masonry.js"></script>