---
permalink: /
title: Home
---
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
	{% include common/head.html %}
</head>

<body class="home-page">
	{% include common/navigation.html %}

	<main class="content">
		<div class="top-section">
			<div class="section__title">
				<img src="assets/img/design.svg"> <span class="b h2">meets</span>
				<p class="b h2">the <span class="monospace">logic</span> mind</p>
			</div>
			<div class="introduction">
				<p>A passionate UIX designer and an organised front-end developer.</p>

				<p>I care about our users and design the best solutions for business problems using creativity and
					research.</p>

				<p>I develop interactive, organised and standardised front-end code.</p>

				<p class="b i">I believe there is no limit to learning, thus always improving my work and skillsets.</p>

				<a class="btn btn--solid btn--primary icon-right icon-arrow-right" href="/about">
					<span>read more </span>
				</a>
			</div>
		</div>

		<div class="recent-work">
			<div class="home-page__recent-work">
				<div class="border-box">
					<p class="h2 border-box-heading">
						recent design work
					</p>

					<img src="assets/img/work/carted-1.png" alt="carted app">
				</div>

				<div class="info">
					<p class="heading-font b">Carted</p>

					<p>Carted is a side project I have founded and is a current work in progress.</p>

					<p>The idea behind this came from me and how I wanted to simplify my shopping experience in general.
					</p>

					<a class="btn btn--solid btn--primary icon-right icon-arrow-right" href="/about">
						<span>read more </span>
					</a>
				</div>
			</div>
			<div class="home-page__recent-work">
				<div class="info">
					<p class="heading-font b">Codebots</p>

					<p>During my employment with WorkingMouse I had the opportunity to work with Codebots and developed Codebots marketing website.</p>

					<p>During my employment with WorkingMouse I had the opportunity to work with Codebots and developed Codebots marketing website.</p>

					<a class="btn btn--solid btn--primary icon-right icon-arrow-right" href="/about">
						<span>read more </span>
					</a>
				</div>

				<div class="border-box">
					<p class="h2 border-box-heading">
						recent development work
					</p>

					<img src="assets/img/work/codebots-mktg-1.png" alt="codebots marketing site">
				</div>
			</div>
	</main>
</body>
{% include common/footer.html %}

</html>