// ----------------------------------- 
// ---------- BUTTON GROUPS ----------
// -----------------------------------
.btn-group {
	>* {
		margin-right:$space-xs;

		&:last-child {
			margin-right: 0;
		}
	}

	display: flex;
	justify-content: flex-start;
	align-items: center;

	&--left {
		justify-content: flex-start;
	}

	&--center {
		justify-content: center;
		padding: calc(#{$space-sm}/2) 0;

		>* {
			margin: calc(#{$space-sm}/2);
		}
	}

	&--right {
		justify-content: right;
	}

	&--vertical {
		flex-direction: column;
		align-items: flex-start;

		.btn {
			margin: calc(#{$space-sm}/2) 0;
		}
	}
}