.experience-page {
    .content {
        display: grid;
        grid-template-areas:
            "exp edu"
            "skills high";
        grid-template-columns: 1.7fr 1fr;
        grid-template-rows: 1fr;

        @include media(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include media(sm) {
            grid-template-areas:
                "edu" "exp"
                "high" "skills";
            grid-template-columns: 1fr;
        }
    }

    .top-section {
        grid-area: exp;
        opacity: 0;
        animation-fill-mode: forwards;
        @include fadeInLeft(2s);
        @include media(sm) {
            margin: $space-md 0 $space-xl;
        }

        @include media(xs) {
            .border-box .border-box-footer {
                background-color: transparent;
                &.btn-only {
                    left: 13vw;
                }
            }
        }
    }

    .experience__education {
        grid-area: edu;
        opacity: 0;
        animation-fill-mode: forwards;
        @include fadeInRight(2s);
        animation-delay: 0.2s;
        margin: $space-lg 0 $space-lg $space-lg;
        @include media(sm) {
            margin: $space-md 0;
        }
    }

    .experience__skillsets {
        grid-area: skills;
        opacity: 0;
        animation-fill-mode: forwards;
        @include fadeInLeft(2s);
        animation-delay: 0.2s;
        margin: $space-md 0 $space-md 0;
        @include media(sm) {
            margin: $space-md 0;
        }
        .border-box__body {
            display: flex;
            justify-content: space-between;
            @include media(smd) {
                flex-direction: column;
            }
            div:nth-of-type(2) {
                margin-left: $space-md;
                @include media(smd) {
                    margin-left: 0;
                }
            }
        }
    }

    .experience__highlights {
        grid-area: high;
        opacity: 0;
        animation-fill-mode: forwards;
        @include fadeInRight(2s);
        animation-delay: 0.4s;
        margin: $space-xxl 0 $space-lg $space-lg;
        @include media(sm) {
            margin: $space-md 0;
        }
    }
}
