/* Home page */
.home-page {
	.section__ {

		//set generic margins for sections
		&model-success,
		&heavy-lifting,
		&how-cb-works,
		&bottom {
			margin: $space-xxxxl 0;

			@include media(md) {
				margin: $space-xl 0;
			}
		}
	}

	.section__title {
		position: relative;
		display: grid;
		grid-template-areas: 'title'
			'cta';
		grid-template-columns: 1fr auto;
		width: 100%;

		.home--title {
			grid-area: title;
			margin-bottom: $space-xs;
			width: fit-content;

			h1 {
				font-weight: $text-light;
			}
		}

		//call to action
		.home--cta {
			grid-area: cta;
			display: flex;
			flex-direction: column;
			position: relative;
			width: 50%;
			height: min-content;

			@include media(md) {
				flex-direction: column-reverse;
				width: 100%;
			}

			p {
				@include text-md;
				font-weight: $text-bold;
				margin-bottom: $space-lg;

				@include media(xsm) {
					font-size: $base-font-size;
				}
			}

			//the input of the call to action - this is flexed in order to place the home--vid aligned with the cta
			.cta-input--inline {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;

				@include media(md) {
					display: flex;
					flex-direction: column-reverse;
				}
			}

			//home vid (possibly change it to vid in the future but currently inage is palced
			.home--vid {
				grid-area: vid;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				height: convert-rem(450px);
				width: convert-rem(800px);
				border-radius: $soft-border;
				top: 90%;
				margin-left: $space-xxxl;
				z-index: -1;

				@include media(lg) {
					width: 45vw;
				}

				@include media(md) {
					margin: $space-md 0;
					width: 100%;
					height: auto;
				}

				// .vid-wrapper {
				// 	border-radius: $soft-border;
				// 	overflow: hidden;
				// 	height: convert-rem(450px);
				// 	width: convert-rem(800px);
				// 	box-shadow: 0rem 10px 20px 1px #060606;
				// 	border: 5px solid #000000;
				// }


				//set image size
				img, picture {
					border-radius: $soft-border;
					height: convert-rem(450px);
					width: convert-rem(800px);
					box-shadow: 0rem 10px 20px 1px #060606;
					border: 5px solid #000000;

					@include media(lg) {
						width: 60vw;
						height: auto;
						margin-left: auto;
					}

					@include media(md) {
						margin: 0;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}

	//START MODEL FOR SUCCESS SECTION
	.section__model-success {
		width: fit-content;
		margin: $space-xxxl 0;

		@include media(md) {
			margin: $space-lg 0;
		}

		h2 {
			width: 45vw;

			@include media(md) {
				width: 70%;
			}

			@include media(md) {
				margin-bottom: 0;
			}
		}

		>div {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			@include media(md) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}

		//3 blocks with images
		.model-success__block {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 30%;
			margin: 0 $space-lg $space-sm 0;

			@include media(lg) {
				width: 32%;
				margin: 0 $space-sm $space-sm 0;
			}

			@include media(md) {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin: $space-lg 0;
			}

			@include media(xsm) {
				display: flex;
				margin: $space-sm 0;
			}

			&:first-of-type {
				@include media(md) {
					grid-template-areas: 'h3 img'
						'p img';

					img {
						margin-left: $space-sm;
					}
				}

				@include media(xsm) {
					img {
						margin-left: 0;
					}
				}
			}

			//setting margins for the stair look
			&:nth-of-type(2) {
				margin-top: convert-rem(140px);

				@include media(md) {
					margin-top: inherit;
					grid-template-areas: 'img h3'
						'img p';

					img {
						margin-right: $space-sm;
					}
				}

				@include media(xsm) {
					img {
						margin-right: 0;
					}
				}
			}

			//setting margins for the stair look
			&:last-of-type {
				margin-right: 0;
				margin-top: convert-rem(280px);

				@include media(md) {
					margin-top: inherit;
					grid-template-areas: 'h3 img'
						'p img';

					img {
						margin-left: $space-sm;
					}
				}

				@include media(xsm) {
					img {
						margin-left: 0;
					}
				}
			}

			h3 {
				grid-area: h3;
				font-weight: bold;
				margin-bottom: $space-xxs;
				overflow: visible;
			}

			p {
				grid-area: p;
				margin-top: 0;
			}

			img {
				grid-area: img;
				margin-top: auto;
				min-height: convert-rem(250px);
				width: 100%;
				height: auto;
				border-radius: $soft-border;
				object-fit: cover;
				object-position: center 55%;

				@include media(md) {
					width: 40vw;
				}

				@include media(xsm) {
					width: 100%;
				}
			}
		}
	}
	//END MODEL FOR SUCCESS SECTION

	//START HOW DOES CB WORK
	.section__how-cb-works {
		display: flex;
		flex-direction: column;
		margin-top: 0;

		//list with the lines
		.how-cb-works__block {
			width: 80%;
			margin-left: auto;

			@include media(md) {
				width: 100%;
				margin: auto;
			}
			//flexing the divs
			>div {
				display: flex;
				align-items: flex-start;
				margin-bottom: $space-lg;

				//change layout for phones
				@include media(xsm) {
					display: grid;
					grid-template-areas: 'num title'
						'p p';
					margin-bottom: $space-sm;
				}
			}

			.h2 {
				margin-right: auto;

				@include media(xsm) {
					grid-area: num;
					margin: $space-xxs auto $space-sm 0;
					font-size: $text-lg;
				}
			}

			h3 {
				@include media(xsm) {
					grid-area: title;
					margin: $space-xxs 0 $space-sm auto;
					font-size: $text-md;
				}
			}

			h3,
			p {
				margin-top: $space-xs;
			}

			p {
				margin-left: $space-lg;
				width: 40%;

				@include media(xsm) {
					grid-area: p;
					width: 100%;
					margin: 0;
				}
			}
		}
	}
	//END HOW DOES CB WORK

	//START WHERE CB HELPS
	.section__where-cb-helps {
		width: fit-content;

		h2 {
			width: 45vw;

			@include media(md) {
				width: 90%;
			}
		}

		>div {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			@include media(md) {
				flex-direction: column;
			}
		}

		.where-cb-helps__block {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: convert-rem(360px);
			margin: 0 $space-lg $space-sm 0;

			@include media(lg) {
				width: 35%;
			}

			@include media(md) {
				margin: auto;
				width: 80%;
				justify-content: center;
				align-items: center;
			}

			@include media(md) {
				width: 100%;
				justify-content: flex-start;
				align-items: flex-start;
			}

			img {
				padding: $space-sm $space-xs;
				height: convert-rem(260px);
				width: 16vw;
				border-radius: $soft-border;
				object-fit: contain;

				@include media(md) {
					height: auto;
					width: 40%;
					text-align: center;
					margin: auto;
				}
			}

			.h5 {
				margin-top: $space-md;
				overflow: visible;
				//set height so the paragraphs align properly
				height: convert-rem(90px);

				@include media(md) {
					height: convert-rem(40px);
				}

				@include media(md) {
					height: unset;
					margin-bottom: $space-sm;
				}
			}

			p {
				margin-top: 0;
			}
		}
	}
	//END WHERE CB HELPS

	//START DISCOVER CB CARDS
	.section__bottom {
		h2 {
			width: 45vw;

			@include media(md) {
				width: 90%;
				margin-bottom: 0;

				br {
					display: none;
				}
			}

			@include media(xsm) {
				width: 100%;
			}
		}

		.bottom__blocks {
			display: flex;
			justify-content: center;
			align-items: center;

			@include media(md) {
				flex-direction: column;
			}

			.cta-blocks {
				margin: auto;
				width: 35vw;

				@include media(lg) {
					width: 40vw;
				}

				@include media(md) {
					width: 90%;
				}

				@include media(xsm) {
					width: 100%;
				}

				>div {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					padding: $space-md;
					height: convert-rem(340px);

					@include media(xsm) {
						height: 100%;
					}

					p {
						width: 90%;
					}
				}

				.b {
					@include text-md;
				}

				&:nth-of-type(2) {
					margin-left: $space-md;

					@include media(xsm) {
						margin-left: 0;
					}
				}

				.btn {
					margin-top: auto;
				}
			}
		}
	}
	//END DISCOVER CB CARDS
}