.work-page {
    .border-box {
        position: relative;
        margin: $space-xxxl $space-xxl;
        padding: $space-xl $space-xxl;

        @include media(smd) {
            margin: $space-xxxl 0;
            padding: $space-xl 0;

            .h2 {
                font-size: $text-md;
            }

            .border-box__heading {
                top: -20px;
            }
            .border-box__footer {
                top: -45px;
            }
        }

        .border-box__body {
            img {
                display: flex;
                width: 60vw;
                margin: auto;
                @include media(smd) {
                    width: 75vw;
                }
            }

            .btn {
                position: absolute;
                right: -50px;
                top: 50%;

                @include media(smd) {
                    right: 20px;
                    top: -35px;
                }
            }
        }
    }
}
