.work-view-page {
    .header {
        display: flex;
        justify-content: space-between;
        opacity: 0;
        animation-fill-mode: forwards;
        @include fadeInDown(2s);

        @include media(md) {
            flex-direction: column;
        }

        @include media(smd) {
            .btn {
                margin-bottom: $space-md;
            }
        }
    }
    .work-view__content-wrapper {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        margin-bottom: $space-xxxxl;
        width: 80%;
        margin: 0 auto;

        @include media(smd) {
            width: 100%;
        }

        h2 {
            margin-bottom: 0;
        }

        &.scroll-animation-true {
            .img-wrapper {
                animation-fill-mode: forwards;
                @include fadeInLeft(2s);
            }
            .border-box {
                animation-fill-mode: forwards;
                @include fadeInRight(2s);
            }
        }

        @include media(smd) {
            margin-bottom: $space-lg;
        }

        &:last-of-type {
            margin-bottom: $space-md;
        }

        .img-wrapper {
            opacity: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: $space-xl auto;
            @include media(smd) {
                margin: 0 auto;
            }
            .img-zoom {
            }
            img {
                width: auto;
                &:last-of-type {
                    margin-top: $space-md;
                }

                @include media(smd) {
                    width: 100%;
                    margin: 0 auto;
                }
            }

            // .icon-look {
            //     padding: .4rem;
            //     &:before {
            //         vertical-align: middle;
            //         height: $text-md;
            //         width: $text-md;
            //     }
            // }
        }
        .border-box {
            opacity: 0;
            margin: 0 auto;
            padding: $space-md;
            width: 80%;

            @include media(smd) {
                width: 100%;
            }

            @include media(smd) {
                margin: $space-xxl 0 $space-lg;
            }
            @include media(xs) {
                margin: $space-xl 0 $space-xs;
            }

            .work-desc {
                p.ul-heading {
                    margin-bottom: 0;
                }

                ul {
                    margin-top: 0;
                }
            }
        }
    }
}
