html {
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;

	@include media(md) {
		&.nav-active, &.nav-active body {
			overflow: hidden;
		}
	}
}

body {
	@include themify {
		background-color: themed('background-color');
		color: get-contrasting-text-color(themed('background-color'));
	}

	//only display for ipads and mobiles
	.nav__logo-mobile {
		display: none;

		@include media(md) {
			z-index: 5;
			position: absolute;
			left: $space-lg;
			top: $space-md;
			display: inline-block;

			svg {
				width: convert-rem(120px);
			}
		}
	}

	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	scrollbar-width: 0;
	width: 100vw;
	height: 100%;
}

//set bg colors for divs
@each $color-class,
$color in $color-list {
	.bg--#{$color-class} {
		background-color: $color;
		color: get-contrasting-text-color($color);
		
		[class*="icon"]{ 
			&:before, &:after {
				background-color: get-contrasting-text-color($color);
			}
		}
	}
}

//set bg with gradients
@each $color in $gradient-colors {
	.bg--#{$color} {
		@if $color==main {
			@include main;
		}

		@else {
			@error "You must use a gradient name found in colors.scss";
		}
	}
}
