/* Horizontal navigation */
nav {
	width: 100%;
	padding: $space-xxs $space-lg;
	position: fixed;
	top: 0;
	z-index: 9;
	background-color: $color-brand-01;

	a {
		cursor: pointer;
	}

	&.fixed {
		@include shadow-box(subtle);
		@include transform-timing(0.15s);
	}

	ul {
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;

		li {
			&:first-of-type {
				margin-right: auto;
				padding-left: 0;
				display: flex;
				align-items: center;
				@include text-shadow;

				span.b {
					display: flex;
					align-items: center;
					&:before {
						content: "";
						height: 6px;
						width: 6px;
						background-color: $color-primary;
						margin: auto $space-xxs;
						border-radius: 50%;
					}
				}
			}

			&:last-of-type {
				padding-right: 0;
			}

			padding: 0 1vw;
			min-width: convert-rem(80px);

			@include media-min(smd) {
				.home {
					display: none;
				}
			}

			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				justify-content: center;
				font-family: $heading-font-family !important;
				color: $color-primary;

				&:hover,
				&:active,
				&:focus {
					@include transform-timing($quick-animation-time);
				}

				&.active {
					font-weight: bold;

					@include media(smd) {
						&:before {
							display: none;
						}
					}
				}

				&.btn--force {
					color: $color-secondary;
				}
			}

			#contact {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			//contact chevron
			.icon-chevron-down.icon-bottom {
				position: relative;
				height: 0;

				&:after {
					margin-top: 0;
					color: $color-primary;
					@include motion-selected-bounce;
				}
			}
		}
	}

	//Sub nav - resource content
	.contact-content {
		display: flex;
		position: absolute;
		right: 0;
		z-index: 5;
		width: 100vw;
		@include media-min(lg) {
			top: convert-rem(70px);
		}

		@include media-min(smd) {
			.contact {
				display: none;
			}
		}

		@include themify {
			background-color: themed("sub-nav-bg");
		}

		&__hidden {
			z-index: -1;
			@include transform-timing($animation-time);

			@include media-min(smd) {
				top: -100vh;
			}
		}

		&__visible {
			opacity: 1;
			min-height: convert-rem(300px);
			height: 100vh;
			@include media-min(smd) {
				@include slideInDown($animation-time);
			}
		}

		//contact form
		.contact-nav-form {
			padding: $space-md $space-xl;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $color-brand-01;
			.h2 {
				margin-bottom: $space-xs;
			}
			p {
				text-align: center;
				a {
					display: inline;
				}
			}

			.btn.icon-x {
				position: absolute;
				right: $space-xl;
				top: 50px;

				@include media(smd) {
					display: none;
				}
			}

			#form-submit {
				display: flex;
				margin-left: auto;

				@include media(sm) {
					width: 100%;
					justify-content: center;
				}
			}
		}
		#contact-form {
			.submit-message {
				opacity: 0;
				height: 0;
			}
			.form {
				opacity: 1;
				height: max-content;
			}
			&.submitted {
				.submit-message {
					opacity: 1;
					height: max-content;
				}
				.form {
					opacity: 0;
					height: 0;
				}
			}
		}
	}
}
