<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
	{% include common/head.html %}
</head>

<body class="work-view-page"> 
    {% include common/navigation.html %}
    <main class="content">
        <div class="header">
            <a class="btn btn--solid btn--primary icon-left icon-arrow-left" href="/work">
                <span>go back</span>
            </a>
            <h2>{{page.title}}</h2>
        </div>
        {% if page.type=='des'%}
            {% include common/des-setup.html %}
        {% endif %}
        {% if page.type=='dev'%}
            {% include common/dev-setup.html %}
        {% endif %}
    </main>
</body>
{% include common/footer.html %}
</html>